#konteiner{
    background-color: bisque;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
}

.body {
    background-color: rgb(12, 92, 43);
}

.sisestus{
    margin-bottom: 15px;
}